
.header{
  height: 72px;
  background-color: #f5f0f0;
  display: flex;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
}
 .logo{
  width: 144px;
 }
.nav{
  margin: 0;
  font-weight: 700;
}
.nav li{
  display: inline-block;
  position: relative;
}
.nav li:hover .subnav{
  transition: 1s;
  display: block;
}
.nav li .a{
  margin: 0;
  color: #000;
  font-size: 24px;
  text-decoration: none;
  line-height: 72px;
  padding: 0px 24px;
  display: inline-block;
}
.nav li .a2{
  margin: 0;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  line-height: 50px;
  padding: 0px 24px;
  display: block;
}
.nav li:hover .a{
  color:#30e25c;
  text-decoration: underline;
}
.nav li .a2:hover{
  transition: 0.5s;
  color: #fff;
  background-color: #ed3232;
}
.subnav{
  padding: 0;
}
.nav .subnav >li {
  display: block;
}
.nav .subnav {
  display: none;
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
}







